<div class="login-page">
  <div class="form">
    <form class="login-form" method="POST" accept-charset="utf-8" action="/user/new">
  <ul>
    <li><label for="username">User name</label>
    <input type="text" name="name" id="username" placeholder="User name" required></li>
    <li><label for="Email">email</label>
    <input type="text"  id="email" name="email" placeholder="yourname@email.com" required></li>
    <li><label for="Mobile">Phone number</label>
    <input type="text"  name="mobile" placeholder="mobile" required></li>
    <li><label for="Place">Place</label>
    <input type="text" name="city" placeholder="Place" required></li>
    <li>
    <button>Submit</button></li>
  </ul>
</form>
  </div>
</div>
